//  body{
//   padding: 0;
//   margin: 0;
//   font-family: montserrat;
//   background: linear-gradient(120deg, #2980b9, #8e44ad);
//   height: 100vh;
// }
.center {
 width:50%;
 
 padding: 50px 0;
 margin: auto;
  h1 {
    text-align: center;
    // padding: 0 0 20px 0;
    // border-bottom: 1px solid silver;
    font-weight: 700;
  }
  form {
    padding: 0 40px;
    box-sizing: border-box;
    .divma{
      margin-top: 10px;
      p{
        margin-bottom: 5px;
        font-weight: 600;
      }
      input{
        padding: 2px 10px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid black;
      }
      select{
        padding: 2px 10px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid black;
      }
      span{
        color: red;
      }
    }
      
  }
}
  
  
  
  
  
  
.center2{
    @extend .center;
    
    width:100% !important;
    padding: 0px 0px;
    margin: auto;
    form{
      padding: 0px 10px
    }
  }
    
  

  @media screen and (max-width:900px) {
    .center{
      width: 70%;
      form{
        padding: 0 20px;
      }
    }
    
  }



  @media screen and (max-width:600px) {
    .center{
      width: 95%;
      form{
        padding: 0 10px;
      }
    }
    
  }
  