.center {
    width:50%;
    
    padding: 50px 0;
    margin: auto;
     h1 {
       text-align: center;
       // padding: 0 0 20px 0;
       // border-bottom: 1px solid silver;
       font-weight: 700;
     }
     .formTime {
       padding: 0 40px;
       box-sizing: border-box;
       .itemTime{
         margin-top: 10px;
         .pTime{
           margin-bottom: 5px;
           font-weight: 600;
         }
         .Input{
           padding: 2px 10px;
           width: 100%;
           outline: none;
           border-radius: 5px;
           border: 1px solid black;
         }
         .spanInput{
           color: red;
         }
       }
         
     }}
     
     @media screen and (max-width:900px) {
      .center{
        width: 70%;
        form{
          padding: 0 20px;
        }
      }
      
    }
  
  
  
    @media screen and (max-width:600px) {
      .center{
        width: 95%;
        form{
          padding: 0 20px;
        }
      }
      
    }