.header{
  display: flex;
  // background-color: red;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1px;
  .header1{
    @extend .header;
      img{
        width: 60px;
        height: 60px;
        margin-right: 20px;

      }
      a{
        margin-right: 20px;
        text-decoration: none;
        color: black;
        font-weight: 600;
      }
    
  }
}
@media screen and (max-width: 600px){
  .navi{
    display: none;
  }
}


